#patotas_marcadas h5{
	margin-bottom:20px;
}

#patotas_marcadas >div {
margin-bottom: 20px;
}

#patotas_marcadas ul {
	margin: 0px;
}

#patotas_marcadas a{
	/*font-size: 18px;*/
	/*color: black;*/
	/*font-weight: 500;*/
	background-color: white;
	text-align: center
}

#patotas_marcadas {
	margin-top: 57px
}

#nova-patota {
	position: fixed;
	top :85%;
	left: 75%;
}

body {
	background: beige;
}

#cabecalio > div > div{
	color:#264f87;
}

#cabecalio {
	position: fixed;
	z-index: 2;
	top: 0px;
}
